@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  .blog-item-fix {
    width: calc(100vw - 2.5rem);
  }
}

.paragraph-space > div > p {
  margin-top: 0.4em;
}

.paragraph-space > div > p:first-child {
  margin-top: 0;
}

.katex {
  font-size: 1.05em;
}

.round-corners {
  border-radius: 1rem;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nunito/nunito-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/nunito/nunito-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/nunito/nunito-v16-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/nunito/nunito-v16-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/nunito/nunito-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/nunito/nunito-v16-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/nunito/nunito-v16-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/nunito/nunito-v16-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/nunito/nunito-v16-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/nunito/nunito-v16-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/nunito/nunito-v16-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/nunito/nunito-v16-latin-600.svg#Nunito") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/nunito/nunito-v16-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/nunito/nunito-v16-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/nunito/nunito-v16-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/nunito/nunito-v16-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/nunito/nunito-v16-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/nunito/nunito-v16-latin-800.svg#Nunito") format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* Zilla Slab Fonts */
/* zilla-slab-regular - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/zilla-slab/zilla-slab-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/zilla-slab/zilla-slab-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/zilla-slab/zilla-slab-v6-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-regular.svg#ZillaSlab")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* zilla-slab-500 - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/zilla-slab/zilla-slab-v6-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/zilla-slab/zilla-slab-v6-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/zilla-slab/zilla-slab-v6-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/zilla-slab/zilla-slab-v6-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-500.svg#ZillaSlab")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* zilla-slab-600 - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/zilla-slab/zilla-slab-v6-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/zilla-slab/zilla-slab-v6-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/zilla-slab/zilla-slab-v6-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/zilla-slab/zilla-slab-v6-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-600.svg#ZillaSlab")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* zilla-slab-700 - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/zilla-slab/zilla-slab-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/zilla-slab/zilla-slab-v6-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/zilla-slab/zilla-slab-v6-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/zilla-slab/zilla-slab-v6-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/zilla-slab/zilla-slab-v6-latin-700.svg#ZillaSlab")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
